body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
	height: 680px;
    padding: 10px 0 40px 0;
}

#main-logo {
    width: 100px;
}

h1 {
	text-shadow: 0 0 4px black;
}

a {
	text-decoration: none;
	color: #82a5ca;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
}

.underline {
    border-bottom: 4px solid white;
}
   